name: Validate

on:
  push:
  pull_request:
  workflow_dispatch:  # Allow manual trigger

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate Integration
    steps:
      - name: Checkout repository
        uses: "actions/checkout@v4"

      - name: Home Assistant Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
